project-2/src/main/mule/project-2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="project-2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8080" />
    </http:listener-config>
    <apikit:config name="project-2-config" api="project-2.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="project-2-main">
        <http:listener config-ref="project-2-httpListenerConfig" path="/project2/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="project-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="project-2-console">
        <http:listener config-ref="project-2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="project-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\flights\(ID):application\json:project-2-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="c3ed772b-a16a-474c-a0bc-459b196c30ae">
            <ee:variables>
                <ee:set-variable variableName="ID"><![CDATA[output application/json
---
[{
	ID: attributes.uriParams.ID,
	code: payload.code,
	price: payload.price,
	departureDate: payload.departureDate,
	origin: payload.origin,
	destination: payload.destination,
	emptySeats: payload.emptySeats,
	plane: {
		"type": payload.plane."type" default ""
	}
}]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="2547f05c-ea12-4e75-ba8f-3a4b3ce01455" name="put"/>
		<logger level="INFO" doc:name="Logger" doc:id="32de815a-a626-46d0-af43-15d7770f4636" />
    </flow>
    <flow name="delete:\flights\(ID):application\json:project-2-config">
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="da1e403f-c94b-4858-a747-ec60b5fa1b24" >
			<ee:variables >
				<ee:set-variable variableName="ID" ><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="c55f17ca-aff4-4eb2-a066-b5de8c4cccfc" name="delete-by-id"/>
		<logger level="INFO" doc:name="Logger" doc:id="d2ef71e7-589b-4ed2-b30a-a4f1140a7427" />
    </flow>
	<flow name="get:\flights\:application\json:project-2-config">
		<flow-ref doc:name="Flow Reference" doc:id="8604388e-7dae-40a6-8820-373749997dd9" name="get-all"/>
		<logger level="INFO" doc:name="Logger" doc:id="810633b5-4210-4593-9513-789d8ea44726" />
    </flow>
	<flow name="get:\flights\(ID):application\json:project-2-config">
		<ee:transform doc:name="Transform Message" doc:id="f6dd5d85-0bda-4bb8-81b4-a2d6ad0edd85">
			<ee:variables>
				<ee:set-variable variableName="ID"><![CDATA[attributes.uriParams.'ID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="50bc2a1b-d2e4-42d5-af92-201146f9d153" name="get-id"/>
		<logger level="INFO" doc:name="Logger" doc:id="c8d2da26-a511-4350-a81a-b994dafac35e" />
    </flow>
    <flow name="post:\flights\:application\json:project-2-config">
		<ee:transform doc:name="Transform Message" doc:id="3c67c2b4-3c3e-4218-bbca-0c8e3773b483" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: payload01.code,
	price: payload01.price,
	departureDate: payload01.departureDate,
	origin: payload01.origin,
	destination: payload01.destination,
	emptySeats: payload01.emptySeats,
	plane: {
		"type": payload01.plane."type",
		totalSeats: payload01.plane.totalSeats
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="84419b8e-494d-418c-b0f7-9d0565ac3746" name="post"/>
		<logger level="INFO" doc:name="Logger" doc:id="dc6eaefc-0fc4-4127-9e0c-573d1a404ea7" />
    </flow>
	<flow name="patch:\flights\(ID):application\json:project-2-config" doc:id="b10bdc68-0f1d-4c2f-92d2-753ec8e4a803" >
		<ee:transform doc:name="Transform Message" doc:id="d39c4a3e-c187-4599-840f-042a96f2cf75" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
[{
	ID: attributes.uriParams.ID,
	code: payload.code,
	price: payload.price,
	departureDate: payload.departureDate,
	origin: payload.origin,
	destination: payload.destination,
	emptySeats: payload.emptySeats,
	plane: {
		"type": payload.plane."type" default ""
	}
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="1abd03f6-71b6-49c7-b34c-2b5884348fca" >
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="c5541297-4a6a-4c52-a94b-88a0f10285f6" name="patch-code"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="12a1d423-8f9b-4b4c-9947-797476826869" name="Patch-DepartureDate"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="0c02a384-6b2d-48ba-a4cd-64ca0c471a18" name="Patch-destination"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="c915502b-ff0e-4ad4-9bcf-651768a55b9b" name="Patch-DepartureDate"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="34bd0173-80ce-4698-9806-1089499f45eb" name="Patch-EmptySeats"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="c6fc3099-3ce8-4e9d-9b4d-3c555a25c284" name="Patch-Origin"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="891d93c8-499a-47a6-a492-8f7363becf2a" name="Patch-Price"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="4da746c6-bfba-4c61-9f5b-4ab284f4fcdb" name="Patch-Plane"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="ebd2f173-d95b-46d3-b0b9-03f6eaa965f4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	message: "Flight updated!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="198c6204-16bc-458f-a6e2-d216503c868a" />
	</flow>
</mule>
